# docker-compose.yml
services:
  meal_tracker_demo_api_nodejs:
    build: .
    ports:
      - "${API_PORT}:${API_PORT}"
    environment:
      API_PORT: ${API_PORT}
      DB_USER: ${DB_USER}
      DB_HOST: meal_tracker_demo_db
      DB_DATABASE: ${DB_DATABASE}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_PORT: ${DB_PORT}
    depends_on:
      meal_tracker_demo_db:
        condition: service_healthy

  meal_tracker_demo_db:
    image: postgres:17.0
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    ports:
      - "${DB_PORT}:${DB_PORT}"
    volumes:
      - ./db_data:/var/lib/postgresql/data  # Map db volume to db_data folder
      - ./install/database/meal_tracker.sql:/docker-entrypoint-initdb.d/init.sql:ro   # Initialize db with sql install script.
    # remove .gitkeep file from db_data directory, because postres need completely empty directory to init db.
    entrypoint: |
      sh -c "rm -f /var/lib/postgresql/data/.gitkeep && docker-entrypoint.sh postgres"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 20


  pgadmin:
    image: dpage/pgadmin4:8.12
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com 
      - PGADMIN_DEFAULT_PASSWORD=admin 
    ports:
      - "8081:80"
    depends_on:
      - meal_tracker_demo_db


  adminer:
    image: adminer:4.8.1
    ports:
      - 8080:8080 
    environment:
      ADMINER_DEFAULT_SERVER: meal_tracker_demo_db 
    depends_on:
      - meal_tracker_demo_db
